:root {
    --azul-electrico: #0000ff;
    --blanco: white;
    --logo-color: rgb(116, 112, 112);
    --sombreado: rgb(192, 179, 179);
    --color-de-texto: black;
    --hover-color: #0011aa;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.section_title {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px
}

.section-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.section-buttons button {
    border: none;
    outline: none;
    background: none;
    background-color: #0000ff;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 14px; 
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s;
}

.section-buttons button:hover {
    background-color: #0011aa;
}

.product-wrapper {
    min-height: 40vh;
    width: 100%;
    padding: 2% 40px;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

/* FILTROS */

.filter-wrapper, .order-wrapper {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    z-index: 1;
    top: 45px;
    right: 0;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    min-width: 200px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s ease;
}

.dropdown-menu.hidden {
    display: none;
}

.dropdown-group {
    min-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropdown-group h4 {
    color: blue;
    font-size: 0.9rem;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.btn-select, .btn-order {
    background: transparent;
    color: #ccc;
    border: none;
    text-align: left;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

.btn-select:hover, .btn-order:hover {
    background-color: #1a1a1a;
    color: #fff;
}

.btn-clear {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

@media (max-width: 1199px) {
    .product-wrapper {
        justify-content: center;
    }
}